.offCard{
   display: flex;
  justify-content: space-around;
 padding-bottom: 10px;
 margin-left: 4vw;
 margin-right: 4vw;
}


.cdIcon img{
  width: 150px;
  height: 150px;
  object-fit: contain;
  padding: 5px;
  background-color: rgb(255, 255, 255);

}

.cdTitle{
  /* margin-top: -40px; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1em;
  font-weight: 600;
  padding-left: 5px;
  background: rgb(0, 112, 173);
  background: linear-gradient(
    90deg,
    rgba(0, 112, 173, 1) 0%,
    #12abdb 100%
  );
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
}

.cdCard{
  padding-bottom: 10px;
  width: 20vw;
  /* background-color: aqua; */
  margin: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  border: #12abdb 2px solid;
  transition: .5s all ease;


}

.cdCard:hover{
  transform: scale(1.04);
  cursor: pointer;
}


@media screen and (max-width: 900px){
  .offCard{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cdCard{
    width: 80vw;
    /* background-color: aqua; */
    margin: 2vh;
    display: flex;
    justify-content: start;
    align-items: center;
  
  }
}